:root {
    --lightColor: #DEF2F1;
    --darkColor: #1A1A1D;

    --colorPrimary: #C5C6C7;
    --colorSecondary: #0B0C10;
}

* {
    margin: 0;
    padding: 0;
    scroll-behavior: smooth;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}


/* HEADER-NAVBAR */
.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: fixed;
    box-sizing: border-box;
    width: 100vw;
    height: 50px;
    background-color: var(--colorSecondary);
    box-shadow: 0 0 20px var(--colorSecondary);
    padding: 0 20px;
    color: var(--lightColor);
}

.menu {
    display: flex;
    color: var(--lightColor);
    width: 100%;
}

.menu li a {
    color: var(--lightColor);
    padding: 14px;
    text-decoration: none;
}

.menu li a:hover {
    background-color: var(--colorPrimary);
    color: var(--darkColor);
}

/* PROFILE CONTENT */

.mainPhoto {
    position: relative;
    max-width: 350px;
    max-height: 350px;
    border: 5px solid rgba(0, 0, 0, 0.8);
    border-radius: 50%;
    margin: 30px;
    box-shadow: 0px 0px 50px var(--colorSecondary);
    margin-bottom: 0;
}

.socialPhoto {
    text-decoration: none;
    padding: 40px;
}

#profileHome {
    display: flex;
    align-items: center;
    margin: auto;
    height: 98vh;
}

#profileHome .profileImg {
    padding: 80px;
}

#profileHome .profileInfo {
    padding: 80px;
    font-size: 30px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    margin: 10px 0;
}

#profileHome .profileInfo h2 {
    margin: auto;
}

#profileHome a {
    text-decoration: none;
}

#profileHome .profileInfo a p {
    margin: auto 3em;
    background-color: var(--darkColor);
    padding: 10px;
    border-radius: 50px;
    color: var(--colorPrimary);
    text-align: center;
}


#profileDescript {
    margin: 1em;
    font-size: 25px;
}

#profileDescript h4 {
    text-align: center;
    font-size: 50px;
}
.profileCert {
    text-align: center;
}

.profileCert h4 {
    text-align: center;
    font-size: 40px;
}

.profileCert img {
    margin: 2em;
    padding: 15px;
    background-color: var(--colorSecondary);
    max-width: 80%;
}

/* MAIN CONTENT */

body {
    background-color: var(--colorPrimary);
    color: var(--textColor);
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 20px;
}

.boldtxt {
    font-weight: bold;
    min-width: 290px;
    max-width: 800px;
}

body ul {
    list-style-type: none;
}


p {
    margin-bottom: 15px;
    color: var(--darkColor);
}

/* ABOUT */

#about h2 {
    text-align: center;
    font-size: 55px;
}

#about p {
    text-align: justify;
    font-size: 30px;
    margin: 0.5em;
}

#about #booksButton {
    color: #DEF2F1;
    background-color: #1A1A1D;
    padding: 5px;
    margin: 2em;
    width: 100px;
    pointer-events: visible;
}

#about #booksList {
    width: 350px;
    color: #DEF2F1;
    padding: 10px;
    background-color: #1A1A1D;
    margin-left: 2em;
}

#about #booksButton h3 {
    margin: 1em;
}

#about #booksButton ul {
    margin: 2px 1em;
}


.hiddenBooks {
    display: none;
}

/* PROJECTS */

#projects #container {
    display: flex;
    margin: auto 1em;
    justify-content: center;
}

#projects h2 {
    font-size: 55px;
    text-align: center;
    margin: 20px;
}

#projects h3 {
    text-align: center;
    font-size: 30px;
}

#projects p {
    text-align: justify;
    margin: 15px;
}

#projects span {
    margin: auto 0.5em;
}

#projects a {
    margin: 0.5em;
    text-align: end;
    display: block;
    text-decoration: none;
}

#projects .projectBox {
    margin: 20px;
    background-color: white;
    border: 1px solid black;
    border-radius: 15px;
    width: 350px;
    height: 750px;
    box-shadow: 0px 0px 25px var(--colorSecondary)
}

#projects .projectBox img {
    width: 280px;
    height: 260px;
    border-radius: 20px;
    margin: auto 1em;
    padding: 10px;
}

#projects .projectBox .projectIcons {
    display: flex;
    justify-content: end;
}

#projects .projectBox .projectIcons a i {
    color: #0B0C10;
}

/* FOOTER */

#footer {
    width: 100%;
    height: 50px;
    background-color: var(--darkColor);
    margin-top: 15px;
}

#footer p {
    margin: auto;
    text-align: center;
    color: var(--lightColor);
    font-size: 30px;
}

@media screen and (max-width: 950px) {

    .header {
        position: fixed;
        width: 100vw;
    }

    #profileHome {
        flex-direction: column;
        width: 100vw;
        height: 680px;
    }

    #profileHome .profileInfo {
        margin: auto;
        padding: 0px;
        text-align: center;
        position: relative;
    }

    #profileHome .profileImg {
        width: 100%;
        height: 700px;
        padding: 0px;
        margin: 2em;
    }

    #profileDescript {
        text-align: justify;
        margin: 100px 1em;
    }

    main .profileCert {
        margin: auto;
    }


    #projects #container {
        flex-wrap: wrap;
        margin: auto 20px;
    }

    #projects .projectBox {
        width: 105%;
        height: 100%;
    }

    #projects .projectBox img {
        margin: auto 50px;
    }

    footer {
        background-color: red;
        width: 100%;
    }
}