/*
    CONFIG
*/

:root {
    
    --lightColor: #DEF2F1;
    --darkColor: #1f2833;

    --colorPrimary: #3B384D;
    --colorSecondary: #BF912B;
}


* { 
    margin: 0;
    padding: 0;
    scroll-behavior: smooth;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

/* 
    BODY 
*/

body {
    background-color: var(--lightColor);
    max-width: 99vw;
    height: 600px;
}

.container {
    margin: 2em 4em;
    width: 90vw;
    min-height: 100vh;
    background-color: var(--colorPrimary);
    color: var(--lightColor);
    border-radius: 45px;
    box-shadow: 0px 0px 20px var(--darkColor);
}

header {
    display: flex;
    justify-content: center;
}

#profile #imgProfile,
#profile #infoProfile {
    width: 50%;
    margin: 1em auto;
}

#profile #imgProfile img {
    max-width: 500px;
    max-height: 350px;
    border: 4px solid var(--colorSecondary);
    border-radius: 50%;
    margin: 5em 110px;
    margin-bottom: 0;
}

#profile #infoProfile {
    font-size: 30px;
    text-align: center;
    margin: 150px auto;
    color: var(--lightColor);
}

#profile #infoProfile h2 {
    margin-bottom: 10px;
}

#profile #infoProfile a {
    text-decoration: none;
    background-color: var(--colorSecondary);
    color: var(--lightColor);
    padding: 5px;
    border-radius: 15px;
}

#profile #infoProfile a:hover {
    background-color: var(--darkColor);
    color: var(--colorSecondary);
}

#profile #infoProfile span a:hover {
    background-color: var(--lightColor);
    color: var(--darkColor);
    padding: 5px;
    border-radius: 15px;
}

/*
    MAIN CONTENT
*/

main h2,
footer h3 {
    text-align: center;
    color: var(--colorSecondary);
    font-size: 50px;
}

main #text {
    text-align: justify;
    margin: 1em;
    display: block;
    width: 90%;
}

main #text p {
    margin: 1em;
    font-size: 30px;
    color: whitesmoke;
    font-weight: 400px;
}


/* 
    FOOTER 
*/
#footer {
    border: #BF912B;
    display: flex;
    justify-content: flex-center;
    width: 100%;
    flex-wrap: wrap;
}

#footer img {
    height: 300px;
    width: 450px;
    margin: 1em auto;
    border: solid 5px var(--colorSecondary);
}

/* PROJECTS  STAND BY*/
/* 
#projects #container {
    display: flex;
    margin: auto 1em;
    justify-content: center;
    flex-wrap: wrap;
}

#projects h2 {
    font-size: 55px;
    text-align: center;
    margin: 20px;
}

#projects h3 {
    text-align: center;
    font-size: 30px;
}

#projects p {
    text-align: justify;
    margin: 15px;
}

#projects span {
    margin: auto 0.5em;
}

#projects a {
    margin: 0.5em;
    text-align: end;
    display: block;
    text-decoration: none;
}

#projects .projectBox {
    margin: 20px;
    background-color: white;
    border: 1px solid black;
    border-radius: 15px;
    width: 350px;
    height: 750px;
    box-shadow: 0px 0px 25px var(--colorSecondary)
}

#projects .projectBox img {
    width: 280px;
    height: 260px;
    border-radius: 20px;
    margin: auto 1em;
    padding: 10px;
}

#projects .projectBox .projectIcons {
    display: flex;
    justify-content: end;
}

#projects .projectBox .projectIcons a i {
    color: #0B0C10;
} */
